.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
    user-select: none;
}

.custom-menu li:hover {
    background-color: #DEF;
}

.count-notif-wrapper{
    position:relative !important;
}

.count-notif{
    position: absolute;
    top: 4px;
    right: 5px;
    padding: 1px;
    background: darken(red, 20%);
    font-size: 10px;
    min-width: 24px;
    height: 22px;
    text-align: center;
    border-radius: 100px;
    color: lighten(gray, 40%);
    font-weight: bold;
    border: 2px solid #cacaca;
}