#messages .form-control{
    border-radius: 0px !important;
}

#messages .dropdown-multi{
    border: 0 !important;
}

#candidates-list{
    height: calc(100vh - 190px);
    overflow-y: scroll;
    overflow-x: none;
}

#candidates-list .list-item{
    border-bottom: 1px solid lighten($secondary, 20%) !important;
    transition: all 0.5s ease;
}

#candidates-list .list-item:hover{
    background-color: darken($light, 10%);
    transition: all 0.5s ease;
    cursor:pointer;
}

.open-reply{
    height: calc(100vh - 648px); 
    overflow-y: scroll;
    overflow-x: none;
}

.close-reply{
    height: calc(100vh - 248px); 
    overflow-y: scroll;
    overflow-x: none;
}

.card-header{
    cursor: pointer;
}

iframe{
    min-height: 100px;
}

#stat-file{
    width:150px;
}